.ublogo{
	background: darkblue;
	padding: 10px;
}

.select_text{
	font-size: 50px;
	font-weight:bold;
	text-align:center;
	margin-top:100px;
}

.select_button{
	width:300px;
	height:200px;
	border-radius:20px;
    background-color: white;
    color:black;
    text-align: center;
    font-size: 50px;
    /*display:inline-block;*/
    border-style: solid;
    border-color: #008CBA;/*blue*/
    border-width:5px 5px 5px 5px;
    -webkit-transition-duration:0.4s;
    transition-duration:0.4s;
    cursor:pointer;
}

.select_button:hover{
	background-color: #008CBA;/*blue*/
	color:white;
}

.select_button1{
	position:absolute;
	left:600px;
	top:400px;
}

.select_button2{
	position:absolute;
	left:1050px;
	top:400px;
}