.secondary {
	background: none;
	color:black;
}

button{

	margin-left: 189px;


}

.main{
	background: blue;
	font-size: large;
}

.ublogo{
	background: darkblue;
	padding: 10px;
}

.twoption{
	right: 40px;

}

.checked {
    color: orange;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0;
   color: gold;
}

.container img {
    width: 100%;
    height: auto;
}

.container .btn {
    position: relative;
    left: 50%;
    transform: translate(-350%, -300%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 40px 80px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container .btn:hover {
    background-color: black;
    color: white;
}
